<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <head>
<style>
  html,body{
    margin:0;
    padding:0;
  }
ul {
    list-style-type: none;
    margin: 0;
    
    padding: 0;
    overflow: hidden;
    background-color: rgb(67, 133, 155);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#banner{
    
    background-color: rgb(54, 107, 124);
    color:  rgb(255, 255, 255);
    text-align: center;
    font-size: 25pt;
}

li a:hover {
    background-color: rgb(54, 107, 124);
}

</style>

  </head>
  <body>
   

<div id="banner">
  <br>
   Events
  <br>
  <br>
 
</div>
<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

    {{{body}}}
  </body>
</html>
