<!-- Bootstrap Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    td {
    padding: 10px;
}
</style>
<h1>Log in</h1>

<table cellpadding="50">
    <tr>
        <td>User Name: </td>  
        <td><input type="text" width="50px" class="form-control" id="username"></td>
    </tr>
    <tr>
        <td>Password: </td>  
        <td><input type="text" width="50px" class="form-control" id="password"></td>
    </tr>
</table>
<p>This is the current log in view</p>
