
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="event.js" type="text/javascript"></script>


<style>
tr, td{
    padding:20px;
}
body{ 
  background-color: rgb(193, 218, 214);
}
</style>
<body>
<center>
    
<table >

<tr><td style="vertical-align:top" >
<table frame="box">
<tr><td><h4>Sign in: </h4> </td>
<td>  </td></tr>

<tr><td> User Name: </td>
 <td><input class="form-control"></input></td></tr>

<tr><td>Password:</td>
<td> <input class="form-control"></input></td></tr>

<tr><td></td><td><button class="form-control">Sign In</button></td>
</tr>
</table></td>
<td><table frame="box">
    <tr><td><h4>Sign Up: </h4> </td>
    <td>  </td></tr>
<tr><td>First Name:</td>
<td> <input class="form-control"></input></td></tr>

<tr><td>Last Name:</td>
<td> <input class="form-control"></input></td></tr>

<tr><td> User Name: </td>
<td><input class="form-control"></input></td></tr>

<tr><td>Password:</td>
<td> <input class="form-control"></input></td></tr>

<tr><td>Confirm Password:</td>
<td> <input class="form-control"></input></td></tr>

<tr><td>Address:</td>
<td> <input class="form-control"></input></td></tr>

<tr><td>Zip Code:</td>
<td> <input class="form-control"></input></td></tr>

<tr><td></td><td><button class="form-control">Sign Up</button></td>


</tr>

</table></td></td>
</tr>

</table>
</center>
</body>
