<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form role="form" method="post" action="/createEvent">
				<div class="form-group">
					 
					<label for="eventName">
						Name
					</label>
					<input type="text" class="form-control" name="eventName" />
				</div>
				<div class="form-group">
					 
					<label for="eventDate">
						Date
					</label>
					<input type="date" class="form-control" name="eventDate" />
				</div>
				<div class="form-group">
					 
					<label for="eventCapacity">
						Capacity
					</label>
					<input type="number" class="form-control" name="eventCapacity" />
				</div>
				<div class="form-group">
					 
					<label for="eventLocation">
						Location
					</label>
					<input type="text" class="form-control" name="eventLocation" />
				</div>
				<div class="form-group">
					 
					<label for="eventPrice">
						Price
					</label>
					<input type="number" class="form-control" name="eventPrice" />
				</div>
				<button type="submit" class="btn btn-default">
					Submit
				</button>
			</form>
		</div>
	</div>
</div>